
body {
    background-color: rgba(255, 199, 115, 0.733);
    font-size: 18px;
}

h1 {
    font-family: Georgia, 'Times New Roman', serif
    font-size: 22px;
}

a:link {
    color: rgb(61, 22, 10);
}